{% extends 'base.html.twig' %}

{% block title %}New Activity
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Créer une nouvelle activité</h1>

		{{ include('activity/_form.html.twig') }}

	</div>
{% endblock %}
