{% extends 'base.html.twig' %}

{% block title %}Hello DestinationController!
{% endblock %}

{% block body %}
	<head>
    <style>
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
    </head>
    <body>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
        // Initialize and add the map
        function initMap() {

            fetch("{{ path('activity_index') }}", {
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })

            // The location of Uluru
            var france = {lat: 46.227638, lng: 2.213749};
            // The map, centered at Uluru
            var map = new google.maps.Map(document.getElementById('map'), {zoom: 4, center: france});
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({position: france, map: map});
        }
    </script>   
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ-YMvkrVQHBxOnbQoSU33u9wmVo7P_KM&libraries=places&callback=initMap"></script>
    </body>
{% endblock %}
